table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 4px
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .inner th {
    width: 225px !important;
}

.inner td {
    width: 225px !important;
}
tr .inner:nth-child(even) {
    background-color:#fbfdfb;
  }